<div class="column flex gap-4">
  <div class="icon group hover:cursor-pointer w-20 h-20 sm:w-25 sm:h-25 relative flex items-center justify-center">
    <img src="/images/icon1.png" alt="About" class="group-hover:brightness-50 transition" />
    <div class="absolute bottom-0 text-white px-1 bg-opacity-15 group-hover:bg-blue-800 group-hover:text-white sm:text-[14px] text-[10px] text-center transition">
      About_MLSC
    </div>
  </div>

  <div class="icon group hover:cursor-pointer w-20 h-20 sm:w-25 sm:h-25 relative flex items-center justify-center">
    <img src="/images/register.png" alt="Registrations" class="group-hover:brightness-50 transition" />
    <div class="absolute bottom-0 text-white px-1 bg-opacity-15 group-hover:bg-blue-800 group-hover:text-white sm:text-[14px] text-[10px] text-center transition">
      Registrations
    </div>
  </div>
</div>

<div class="icon group hover:cursor-pointer w-20 h-20 sm:w-25 sm:h-25 relative flex items-center justify-center">
  <img src="/images/users.png" alt="Users" class="group-hover:brightness-50 transition" />
  <div class="absolute bottom-0 text-white px-1 bg-opacity-15 group-hover:bg-blue-800 group-hover:text-white sm:text-[14px] text-[10px] text-center transition">
    Meet_the_Team
  </div>
</div>

<div class="icon group hover:cursor-pointer w-20 h-20 sm:w-25 sm:h-25 relative flex items-center justify-center">
  <img src="/images/tree.png" alt="Timeline" class="group-hover:brightness-50 transition" />
  <div class="absolute bottom-0 text-white px-1 bg-opacity-15 group-hover:bg-blue-800 group-hover:text-white sm:text-[14px] text-[10px] text-center transition">
    Sacred_Timeline
  </div>
</div>

<div class="icon group hover:cursor-pointer w-20 h-20 sm:w-25 sm:h-25 relative flex items-center justify-center">
  <img src="/images/globe.png" alt="Globe" class="group-hover:brightness-50 transition" />
  <div class="absolute bottom-0 text-white px-1 bg-opacity-15 group-hover:bg-blue-800 group-hover:text-white sm:text-[14px] text-[10px] text-center transition">
    the.
  </div>
</div>
