<div
  id="notification"
  class="notification absolute right-5 bottom-15 bg-yellow-50 rounded border-2 border-yellow-50 w-[350px] h-[200px] sm:w-[400px] sm:h-[300px] opacity-100 scale-100 transition hidden sm:block"
>
  <div class="notif-header w-full h-7 bg-blue-800 flex justify-between items-center">
    <div class="mx-2 text-white font-semibold font-mono hover:cursor-default">
      New Notification!
    </div>
    <button
      class="notif-close w-5 bg-gray-400 mx-1 border-1 hover:cursor-pointer hover:bg-gray-500 drop-shadow-sm font-bold text-sm"
    >
      X
    </button>
  </div>
  <div class="notif-content flex justify-between items-center w-full h-28 mt-3 sm:mt-15">
    <div>
      <img src="/images/ibutton.png" alt="i_button" class="w-30 h-30" />
    </div>
    <div class="notif-message flex justify-between items-center mx-2 sm:h-full w-64 font-mono text-[10px] sm:text-sm hover:cursor-default">
      The registrations for MLSC have begun! Click on the button below or the 'Registrations' icon on your desktop to be a part of our society.
    </div>
  </div>
  <button
    class="register-button w-30 h-8 sm:my-7 bg-gray-400 ml-30 sm:ml-35 text-sm hover:cursor-pointer hover:bg-gray-500 font-mono drop-shadow-md border-2"
  >
    Register
  </button>
</div>
