<div id="pre-loader"
      class="fixed inset-0 bg-black flex justify-center items-center z-50 opacity-100 transition flex-col"
      style="cursor: url('/images/loading.cur') 16 16, auto"
    >
      <img
        src="/images/mlsclogo.jpeg"
        alt="Loading Logo"
        class="w-40 h-40 mb-4 image-render-pixelated"
      />
      <div
        class="relative w-[300px] h-[16px] bg-black overflow-hidden rounded border-2 border-white mx-auto mt-5"
      >
        <div class="absolute top-0 left-0 h-full flex loader-track">
          <div class="bar-rect border-white"></div>
          <div class="bar-rect border-white"></div>
          <div class="bar-rect border-white"></div>
        </div>
      </div>
      <div
        class="header text-white text-lg mt-5 font-mono flex justify-center items-center"
      >
        Loading the world of MLSC
      </div>
    </div>