<div
  id="start-menu"
  class="start-menu w-[300px] h-[204px] font-mono hidden bg-gray-500 absolute bottom-10 left-0 border-2 border-slate-50 mx-0.5 my-1 z-50 drop-shadow-lg"
>
  <div
    class="refresh bg-slate-50 h-10 text-black hover:text-white hover:cursor-pointer hover:bg-blue-800 flex flex-col align-middle justify-center px-2"
  >
    Refresh
  </div>
  <div
    class="about-computer bg-slate-50 h-10 text-black hover:text-white hover:cursor-pointer hover:bg-blue-800 flex flex-col align-middle justify-center px-2"
  >
    About this computer
  </div>
  <div
    class="mtg bg-slate-50 h-10 text-black hover:text-white hover:cursor-pointer hover:bg-blue-800 flex flex-col align-middle justify-center px-2"
  >
    Meet the Gensec
  </div>
  <div
    class="contact bg-slate-50 h-10 text-black hover:text-white hover:cursor-pointer hover:bg-blue-800 flex flex-col align-middle justify-center px-2"
  >
    Contact Us
  </div>
  <div
    class="secret-menu bg-slate-50 h-10 text-black hover:text-white hover:cursor-pointer hover:bg-blue-800 flex flex-col align-middle justify-center px-2"
  >
    Secret Menu
  </div>
</div>
